.headerIMG {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-top: 10px;
	background-color: white;
}

input {
	
width: 200px;

}

.formSubmitButton {
    bottom: 90%;
    border-radius: 12px;	
    
}


